# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Environment variables
.env

# AWS / credentials
.aws/

# Build / dist
build/
dist/
*.egg-info/

# Tests
.coverage
htmlcov/

# CDK
cdk.out/

# Lambda layers (très important)
layers/

# Local data (documents + artifacts locaux)
data/

# Temporary files
*.tmp
